$content-width: 1000px;
$breakpoint: 799px;
$nav-height: 70px;
$nav-background: #fff;
$nav-font-color: #0c0c0c;
$link-hover-color: #f8b500;

@import "../../../../app.component.scss";

* {
  font-family: Raleway, sans-serif;
}

.navigation {
  height: $nav-height;
  background: linear-gradient(45deg, #424750, #202326);
  box-shadow: 9px 9px 16px $shadowColor1, -9px -9px 16px $lightColor1;

  .nav-container {
    max-width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .brand {
      padding-left: 20px;
      // float: left;
      // line-height: $nav-height;
      text-transform: uppercase;
      font-size: 1.4em;

      a {
        color: white;
      }
      @media (max-width: 650px) {
        font-size: 1em;
      }
    }
    .leave {
      font-size: 25px;
      margin-right: 30px;
      cursor: pointer;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $textColor;
      min-width: 50px;
      min-height: 50px;
      background: $shadowColor1;
      box-shadow: -8px -8px 20px 0px $lightColor3,
        -6px -6px 20px 0px $lightColor3, 8px 8px 20px $shadowColor3,
        5px 5px 6px 0px $shadowColor3;

      &:active {
        box-shadow: inset -8px -8px 20px $lightColor3,
          inset -5px -5px 6px $lightColor3, inset 8px 8px 20px $shadowColor3,
          inset 5px 5px 6px $shadowColor3;
      }
    }
  }
}
